<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html,body{
        margin:0
        }
    </style>
</head>
<style>
    .div-top {
    position: absolute;
	top: 0;
    width:100%;
    height:50px;
    border:1px dashed #000;
    box-sizing:border-box
}
</style>
<body>
<div class="div-top">
		<div class="titl">JSOPS</div>


			<!--
			$( ".t1 tr" ).click( function() {
			var form = document.getElementById('t_form');
			var user_id = document.getElementById('user_id');
			var td = $( this ).find( "td" );
			var del_id = td.eq(1 ).html();
			alert (del_id);
			//user_id.value = del_id;
			//form.submit();
			//return false;
			}); -->
</div>
</body>
</html>